# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node modules
/node_modules
/src/monitor-frontend/node_modules

# Build output
/src/monitor-frontend/build
/build

# Testing
/coverage

# Production
/.next
/.out

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .NET output
/src/monitor-service/bin/
/src/monitor-service/obj/

# SQLite database files
/src/monitor-service/*.db

# MacOS system files
.DS_Store

# Next.js output (build artifacts)
.next/
/out/

# IDE specific files
.vscode/
/.idea/
