# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/src/monitor-frontend/node_modules
/src/monitor-frontend/build

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .NET output
/src/monitor-service/bin/
/src/monitor-service/obj/

# SQLite database files
/src/monitor-service/*.db
